<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="framents :: baseHeader">
  <title></title>
</head>

<body>
<div class="container">
  <div id="form" th:replace="framents :: form">
  </div>

  <div class="row justify-content-md-center">
    <div class="col">

      <table class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th>kolumna 1</th>
          <th>kolumna 2</th>
          <th>kolumna 3</th>
          <th>kolumna 4</th>
        </tr>
        </thead>
        <tbody class="table-hover">
        <tr th:each="p : ${duplicates}">
          <td th:text="${p.id}"></td>
          <td th:text="${p.kolumna1}"></td>
          <td th:text="${p.kolumna2}"></td>
          <td th:text="${p.kolumna3}"></td>
          <td th:text="${p.kolumna4}"></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
</body>
</html>