<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Workshop">
  <meta name="author" content="m.szyba@gmail.com">
  <title>Workshop</title>
</head>
<body>
TEST

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>kolumna 1</th>
    <th>kolumna 2</th>
    <th>kolumna 3</th>
    <th>kolumna 4</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="p : ${products}">
    <td th:text="${p.id}"></td>
    <td th:text="${p.kolumna1}"></td>
    <td th:text="${p.kolumna2}"></td>
    <td th:text="${p.kolumna3}"></td>
    <td th:text="${p.kolumna4}"></td>
  </tr>
  </tbody>
</table>


<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>kolumna 1</th>
    <th>kolumna 2</th>
    <th>kolumna 3</th>
    <th>kolumna 4</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="p : ${productsBy1}">
    <td th:text="${p.id}"></td>
    <td th:text="${p.kolumna1}"></td>
    <td th:text="${p.kolumna2}"></td>
    <td th:text="${p.kolumna3}"></td>
    <td th:text="${p.kolumna4}"></td>
  </tr>
  </tbody>
</table>



</body>
</html>